<div class="advancePayment box">
    <div class="mainBody-title">{{name}}</div>
    <div class="mainBody-content">
    	<!-- 可公用 -->
		<div class="search-customer">
			<div class="search-customer-group">
				<label class="text-right">客户姓名</label>
				<div class="search-customer-content">
					<div class="customersearchbox" search-customer customer="searchbox" searchtype="my"></div>
				</div>
			</div>
			<div ng-class="{'search-customer-phone':true,'ml20':true,'hidden':!searchbox.mobile}">
				手机号：
				<span class="phone">{{searchbox.mobile}}</span>
			</div>
			<div ng-class="{'search-customer-phone':true,'ml20':true,'hidden':!(searchbox.realName === null && searchbox.mobile === null)}">
				<span class="pColorff4949">数据库中查不到该用户！！</span>
			</div>
			<div class="search-customer-btn">
				<input type="button" class="btn prm-fl templatebtn bl-width" value="查询" ng-click="searchClick()" />
			</div>
		</div>
        
        <div class="pre-table table-public">
        	<table class="table">
        		<thead>
        			<tr>
        				<th>序列号</th>
        				<th>时间</th>
        				<th>客户姓名</th>
        				<th>联系手机号</th>
        				<th>预付款金额</th>
        				<th>退款折让率</th>
        				<th>剩余金额</th>
        				<th colspan="2">操作</th>
        			</tr>
        		</thead>
        		<tbody>
        			<tr ng-repeat="tr in table.table">
        				<td>{{10*(table.now-1)+$index+1}}</td>
        				<td>{{toData(tr.time)}}</td>
        				<td>{{tr.userName}}</td>
        				<td>{{tr.mobile}}</td>
        				<td>{{tr.amount}}</td>
        				<td>{{tr.reFundGiveRate}}%</td>
        				<td>{{tr.left}}</td>
        				<td><a href="javascript:void(0)" ng-class="tr.modifiedAble?'table-update-color':'table-unClick-color'" ng-click="tr.modifiedAble?table.showalert(0,tr):return;">修改</a></td>
        				<td><a href="javascript:void(0)" ng-class="tr.modifiedAble?'table-del-color':'table-unClick-color'" ng-click="tr.modifiedAble?table.deletedata(tr):return;">删除</a></td>
        			</tr>
        		</tbody>
        	</table>
        	<div class="table-public-paging">
        		<div class="paging-btn">
        			<a href="javascript:void(0)" ng-click="table.firstpage()">首页</a>
        			<a href="javascript:void(0)" ng-click="table.prepage()">上一页</a>
        			<a href="javascript:void(0)" ng-click="table.nextpage()">下一页</a>
        			<a href="javascript:void(0)" ng-click="table.lastpage()">尾页</a>
        		</div>
        	</div>
        	<p class="table-public-tips">温馨提示：在新增信息24小时内有修改机会，如果超过24小时不能修改！<span class="tips-icon"></span></p>
        </div>
        
        <div class="btn-group-height">
            <div class="templatebtn-position">
                <input type="button" class="btn templatebtn plr10" value="新增预付款记录" ng-click="table.showalert(1)" />
            </div>
        </div>
    </div>
</div>

<div id="prm-zhezhao" ng-class="{show:!table.alerthidden }"></div>
<div id="prmAlert003" ng-class="{'prmAlert':true,'hidden':table.alerthidden}" style="z-index: 1200;">
	<div class="hd">
		<h4>{{prmAlertTitle}}{{alert.Mobile}}</h4>
		<span class="close" ng-click="table.closealert()">×</span>
	</div>
	<div class="box">
		<form class="prm-form" name="advancePaymentform" novalidate>
			<div style="width: 400px; margin: 30px 0 0 0;">
				<div ng-class="{'prm-form-group':true, 'success':table.type==1 && alert.mobile === null}">
					<label class="form-group-label text-right">客户名称：</label>
					<div class="form-group-content">
						<div class="customersearchbox" search-customer customer="alert" searchtype="my"></div>
					</div>
					<div class="inputstatue"><input type="button" class="btn templatebtn addcusromerbtn" value="添加用户" ng-click="gotoAddCustomer();" /></div>
				</div>
				<!-- 显示手机号码 -->
				<div class="prm-form-group success">
					<div class="form-group-content">
						<div ng-class="{'showMobile':true,'sMsuccess':true,'show':alert.mobile}">
							<span>手机号码：</span>{{alert.mobile}}
							<p class="pColorff4949">*请确认手机号，小心重名重姓</p>
						</div>
					</div>
				</div>

				<div class="prm-form-group success">
					<div class="form-group-content">
						<div ng-class="{'showMobile':true,'sMerror':true,'show':alert.realName === null && alert.mobile === null}">
							<p class="pColorff4949">数据库中查不到该用户，请点击添加用户按钮！！</p>
						</div>
					</div>
				</div>



				<div class="prm-form-group success">
					<label class="form-group-label text-right" for="amount">预付款金额：</label>
					<div class="form-group-content">
						<input class="prm-form-control" type="number" id="amount" name="amount" ng-maxlength="7" placeholder="输入预付款金额" ng-model="amount" required>
					</div>
					<div class="inputstatue show">元</div>
				</div>

				<div class="prm-form-group success">
					<label class="form-group-label text-right" for="addAmount">申请退款折让率：</label>
					<div class="form-group-content">
						<input class="prm-form-control" type="number" id="addAmount" name="addAmount" placeholder="输入申请退款折让率"  ng-model="addAmount" required>
					</div>
					<div class="inputstatue show">%</div>
				</div>
			</div>
			<div class="fd">
				<input type="button" href="javascript:;" class="btn btn-confirm" value="{{subBtnVal}}" ng-click="table.update()" ng-disabled="!advancePaymentform.$valid || !alert.mobile"/>
				<input type="button" href="javascript:;" class="btn btn-cancel" ng-click="table.closealert()" value="取消">
			</div>
		</form>
	</div>
</div>
